<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <link rel="stylesheet" href="./stylesheets/manageLogin.css">
</head>
<body>
<div class="container">
    <p class="title">管理员登录</p>
    <form method="post">
        <div class="item">
            <span class="item-span">账号</span><input class='item-input' type="text" name="uid" required>
        </div>
        <div class="item">
            <span class="item-span">密码</span><input class='item-input' type="password" name="password" required>
        </div>
        <div class="item-func">
            <input type="submit" class="button blue" value="确定">
            <input type="reset"  class="button yellow" value="重置">
        </div>
    </form>
</div>
<script>
    window.onload = function(){
        <% if(method === 'post'){ %>
            <% if(state === 'error') {%>
                alert('<%= msg %>')
            <% }%>
            <% if(state === 'ok') {%>
                window.location.href = '/managerpage'
            <% }%>
        <% }%>
    }
</script>
</body>
</html>